

body {
  background:url("images/film-2048x1536.jpg");
}

ul {
  list-style: none;
}

.overlay:hover {
  background-color: hsla(0,0%,0%,0.2);
  border-radius: 30px;
  color: white;
  font-size: 100%;
}

.plotTitle {
  font-weight: bold;
  font-style: italic;
}

.posterImage {
  /*text-align: center;*/
}

.searchResult {
  float: right;
}