

body {
  background:url("images/film-2048x1536.jpg");
}

ul {
  list-style: none;
}

.searchResult {
  float: right;
}

.plotTitle {
  font-weight: bold;
  font-style: italic;
}

.posterImage {
  /*text-align: center;*/
}